.rounded-box {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 2.5% 5%;
  width: 90%;
  max-width: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #F7EED3;
  box-sizing: border-box;
}

.rounded-box-image {
  max-width: 100%;
  margin: 10px 0 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid #A27B5C;
}

.rounded-box-title {
  margin: 10px 0 10px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 3px solid #A27B5C;
  color: #674636;
}

.rounded-box-text {
  color: #674636;
  margin: 10px 0 10px;
  font-size: 1.5rem;
  
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/Figtree-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: #674636;
}

